.strengthMeter {
	border: 1px solid #B5B8C8;
	margin: 3px 0 3px 0;
	background-image: url(../images/meter_background.gif);
	width:200px;
	height:10px;
}

.scoreBar {
	border: 0px;
	margin: 0px 0px 0px 0px;
	background-image: url(../images/meter.gif);
	width:0px;
	height:10px;
}
