{% extends 'site_base.html' %}
{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body %}
<div id="mast_home">
  <div class="center_wrap clearfix">
    <h1><img alt="AudioShare - Audio Sharing Script" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/logo_big.png"></h1>
      <p class="tagline">Find. Play. Enjoy.</p>
    </div>
  </div>
  <div id="mast_home_blue">
    <div class="center_wrap clearfix">
      <form action="http://demo.audiosharescript.com/searchengine.php" method="post">
	<input id="searchterm" name="searchterm" type="text">
			<input name="submitsearch" value="1" type="hidden">
			  <button type="submit">Search</button>
			</form>
			<div id="home_cats" class="clearfix">
            <h4><a class="reverse-link">Browse Categories</a></h4>
            
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/4/1/Arts">Arts</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/5/1/Business">Business</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/6/1/Comedy">Comedy</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/7/1/Education">Education</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/8/1/Entertainment">Entertainment</a></li>
            </ul>
            <ul>                
	      <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/9/1/Hobbies">Hobbies</a></li>
	    </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/10/1/Lifestyle">Lifestyle</a></li>
            </u>l
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/11/1/People">People</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/12/1/Politics">Politics</a></li>
                </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/13/1/Science">Science</a></li>
            </ul>
            <ul>                
	      <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/1/1/Spirituality">Spirituality</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/2/1/Sports">Sports</a></li>
            </ul>
            <ul>                
              <li><a href="http://demo.audiosharescript.com/browse/categories/audios/z/3/1/Technology">Technology</a></li>
            </ul>
                        </div>
			<ul id="home_feat_media" class="clearfix">
        	            <!-- LOOP START -->
            <li><a href="http://demo.audiosharescript.com/audios/1/party-animal.html"><img alt="party animal" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1-2.jpg" height="200" width="200"></a></li>
            <!-- LOOP END -->
                        <!-- LOOP START -->
            <li><a href="http://demo.audiosharescript.com/audios/6/my-favorite-song.html"><img alt="my favorite song" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/6-2.jpg" height="200" width="200"></a></li>
            <!-- LOOP END -->
                        <!-- LOOP START -->
            <li><a href="http://demo.audiosharescript.com/audios/7/omg-so-funny-song.html"><img alt="omg so funny song" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/7-2.jpg" height="200" width="200"></a></li>
            <!-- LOOP END -->
                        <!-- LOOP START -->
            <li><a href="http://demo.audiosharescript.com/audios/4/song-to-die-for.html"><img alt="song to die for" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/4-2.jpg" height="200" width="200"></a></li>
            <!-- LOOP END -->
                        <!-- LOOP START -->
            <li><a href="http://demo.audiosharescript.com/audios/2/cool-party-song.html"><img alt="cool party song" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/2-2.jpg" height="200" width="200"></a></li>
            <!-- LOOP END -->
                        <!-- LOOP START -->
            <li><a href="http://demo.audiosharescript.com/audios/3/latest-hot-single-song.html"><img alt="latest hot single..." src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/3-2.jpg" height="200" width="200"></a></li>
            <!-- LOOP END -->
                    </ul>
    </div>
</div>

<div class="home_wrap">
    <div class="center_wrap clearfix">
        <div class="cat_box_full" id="home_cat_box">
            <h3>Recently Added Audios</h3>
            <div class="cat_body_full clearfix">
            	                <!-- LOOP START -->
                <div class="search_box_grid">
                    <div class="aud_cont">
                        <a href="http://demo.audiosharescript.com/audios/1475/saleem-kodathoor-new-album-song.html"><img alt="saleem kodathoor ..." src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1475-1.html"></a>
                    </div>
                    <p class="blue"><a href="http://demo.audiosharescript.com/audios/1475/saleem-kodathoor-new-album-song.html">saleem kodathoor ...</a></p>
                </div>
                <!-- LOOP END -->
				                <!-- LOOP START -->
                <div class="search_box_grid">
                    <div class="aud_cont">
                        <a href="http://demo.audiosharescript.com/audios/1474/whizzkids-ft-inusa-dawuda.html"><img alt="Whizzkids Ft. Inu..." src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1474-1.jpg"></a>
                    </div>
                    <p class="blue"><a href="http://demo.audiosharescript.com/audios/1474/whizzkids-ft-inusa-dawuda.html">Whizzkids Ft. Inu...</a></p>
                </div>
                <!-- LOOP END -->
				                <!-- LOOP START -->
                <div class="search_box_grid">
                    <div class="aud_cont">
                        <a href="http://demo.audiosharescript.com/audios/1473/kkjk.html"><img alt="kkjk" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1473-1.jpg"></a>
                    </div>
                    <p class="blue"><a href="http://demo.audiosharescript.com/audios/1473/kkjk.html">kkjk</a></p>
                </div>
                <!-- LOOP END -->
				                <!-- LOOP START -->
                <div class="search_box_grid">
                    <div class="aud_cont">
                        <a href="http://demo.audiosharescript.com/audios/1472/%26Oslash%3B%26Oslash%3B%26sup3%3B%26Oslash%3B%26Ugrave%3B%85-%26Ugrave%3B%83%26Oslash%3B%26Ugrave%3B%85%26Ugrave%3B%84-%26Oslash%3B%26Ugrave%3B%87%26Ugrave%3B%88%26Oslash%3B%26Ugrave%3B%83.html"><img alt="حسام كامل..." src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1472-1.png"></a>
                    </div>
                    <p class="blue"><a href="http://demo.audiosharescript.com/audios/1472/%26Oslash%3B%26Oslash%3B%26sup3%3B%26Oslash%3B%26Ugrave%3B%85-%26Ugrave%3B%83%26Oslash%3B%26Ugrave%3B%85%26Ugrave%3B%84-%26Oslash%3B%26Ugrave%3B%87%26Ugrave%3B%88%26Oslash%3B%26Ugrave%3B%83.html">حسام كامل...</a></p>
                </div>
                <!-- LOOP END -->
				                <!-- LOOP START -->
                <div class="search_box_grid">
                    <div class="aud_cont">
                        <a href="http://demo.audiosharescript.com/audios/1471/eminem-ft-rihanna.html"><img alt="Eminem Ft. Rihanna" src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1471-1.png"></a>
                    </div>
                    <p class="blue"><a href="http://demo.audiosharescript.com/audios/1471/eminem-ft-rihanna.html">Eminem Ft. Rihanna</a></p>
                </div>
                <!-- LOOP END -->
				                <!-- LOOP START -->
                <div class="search_box_grid">
                    <div class="aud_cont">
                        <a href="http://demo.audiosharescript.com/audios/1470/rollercoaster---pvtruest.html"><img alt="Rollercoaster - P..." src="Home%20-%20AudioShare%20-%20Audio%20Sharing%20Script_files/1470-1.jpg"></a>
                    </div>
                    <p class="blue"><a href="http://demo.audiosharescript.com/audios/1470/rollercoaster---pvtruest.html">Rollercoaster - P...</a></p>
                </div>
                <!-- LOOP END -->
				            </div>
        </div>      
    </div>
</div><!-- BEGIN FOOTER -->
{% endblock %}

