{% extends "base.html" %}

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}pinax/img/logo.png" alt="Pinax"/></a>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}


{% block footer %}
<div class="center_wrap clearfix">
  <div id="foot1">
    <p>
      Copyright © 2010 AudioShare Audio Sharing Script<br>Powered by <a target="_blank" href="http://www.audiosharescript.com/">AudioShareScript.com</a>
    </p>
  </div>
  
  <div id="foot2">
    <ul>
      <li><a href="http://demo.audiosharescript.com/aboutus.php">About Us</a></li>
      <li><a href="http://demo.audiosharescript.com/advertising.php">Advertising</a></li>
    </ul>
  </div>
  
  <div id="foot3">
    <ul>
      <li><a href="http://demo.audiosharescript.com/contactus.php">Contact Us</a></li>
      <li><a href="http://demo.audiosharescript.com/privacypolicy.php">Privacy Policy</a></li>
    </ul>
  </div>
  
  <div id="foot4">
    <ul>
      <li id="add_feed"><a href="http://demo.audiosharescript.com/syndicate.php">Syndicate</a></li>
      <li><a href="http://demo.audiosharescript.com/termsofuse.php">Terms of Use</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    {% block extra_body %}{% endblock %}
{% endblock %}
